/* 
    Created on : 11.11.2020, 16:19:54
    Author     : Monika
*/

.prihlaseni{
    width: 30%;
    height: 30%;
    margin: auto;
    margin-top: 6%;
}
input[type=text], [type=password], [type=date] {
    width: 70%;
    padding: 0.9vw 0.9vw;
    margin: 0.8vw 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0.3vw;
    box-sizing: border-box;
    margin-left: 15%;
    box-shadow: 0vw 0.1vw 0.2vw #888888;
}
input[type=text]:hover, [type=password]:hover{
    box-shadow: 0vw 0.17vw 0.3vw #888888;
}
input[type=submit] {
    width: 32.5%;
    background-color: #1b33e9;
    color: white;
    padding: 0.9vw 0.9vw;
    border: none;
    border-radius: 0.3vw;
    cursor: pointer;
    margin-left: 15%;
    display: block;
    margin: 0.8vw auto;
}

input[type=submit]:hover{
    box-shadow: 0vw 0.1vw 0.2vw #888888;
    background-color: #061bbb;
}

.fileUpload {
    overflow: hidden;
    width: 30%;
    background-color: #1b33e9;
    color: white;
    padding: 0.9vw 0.9vw;
    border: none;
    border-radius: 0.3vw;
    cursor: pointer;
    text-align: center;
    position: relative;
    display: block;
    margin: 0.8vw auto;
}
.fileUpload input.file22 {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 1vw;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.formular{
    width: 70%;
    height: 50%;
    margin: auto;
    margin-top: 6%;
}

.text{
    font-size: 1vw;
}
.textarea{
    width: 100%;
    height: 100%;
    padding: 0.9vw 1vw;
    box-sizing: border-box;
    border: 0.1vw solid #ccc;
    border-radius: 0.3vw;
    font-size: 1vw;
    resize: none;
    margin-bottom: 0.7vw;
    margin-top: 0.7vw;
}
.send{
     font-size: 1vw;
}
.label{
    font-size: 1.2vw;
    display: block;
    text-align: center;
}
label{
    font-size: 1.2vw;
}
.mazani{
    margin-top: 20%;
    height: 50%;
    width: 80%;
    text-align: center;
    font-size: 1.1vw;
    margin-left: 10%;
}
.form{
    width: 40%;
    height: 10%;
    margin: auto;
    margin-top: 6%;
    margin-bottom: 5vw;
}
