/* 
    Created on : 10.11.2020, 19:28:47
    Author     : Monika
*/
#nav{
  background-color: darkblue;
  position: fixed;
  top: 0;
  width: 105%;
  height: 5vw;
  font-size: 1vw;
  z-index: 10;
  padding-left: 5%;
  margin-left: -5%;
}
#nav a{
    text-decoration: none;
    
}
.line{
    border-left: 0.08vw white solid;
    border-right: 0.08vw white solid;
    padding-left: 1vw;
    padding-right:  0.5vw;
    
}
h1{
    font-family: 'Futura W04',sans-serif;
    font-weight: 200;
    font-size: 1.1vw;
}
.menu1:hover .line{
    border-left: 0.08vw dodgerblue solid;
    border-right: 0.08vw dodgerblue solid;
}
.logo{
    float: left;
    width: 28%;
    color:white;
    font-family: 'Futura W04',sans-serif;
    font-size: 1.25vw;
    font-weight: 500;
    margin-top: 1.25vw;
    margin-left: 2%;
}
.menu{
    float: left;
    width: 90%;
    padding-left: 11%;
}
.menu1{
    color:white;
    font-family: 'Futura W04',sans-serif;
    font-size: 1vw;
    font-weight: 500;
    
}
.menu1:hover{
    color: dodgerblue;
}
.mymenu ul ul {
    display: none;
}
.mymenu ul li:hover > ul {
    display: block;
	}      
.mymenu ul { 
    list-style: none;
    position: relative;
    display: inline-table;
}      
.mymenu ul li {
    float: left;
}	
.mymenu ul li a {
    display: block;
    padding: 0vw 2vw;
    padding-right: 2vw;
    text-decoration: none;
	}       
.mymenu ul ul {
    border-radius: 0;
    padding: 0;
    position: absolute;
    top: 100%;
}
.mymenu ul ul li {
    float: none;
    position: relative;
	}
.mymenu ul ul li a {
    padding: 1vw 3vw;
    padding-right: 2vw;
		}	
.mymenu ul ul ul {
    position: absolute; left: 100%; top:0;
}
.menu2{
    background-color: dodgerblue;
    color: white;
    font-family: 'Futura W04',sans-serif;
    transition: background 2s;
}
.menu2:hover{
    background-color: darkblue;
    color: white; 
}
.menu-cast2{
    float: left;
    width: 10%;
    color:white;
    font-family: 'Futura W04',sans-serif;
    font-size: 1.25vw;
    font-weight: 500;
    margin-top: 1.25vw;
    margin-left: 2%;
}
.menu-cast1{
    float: left;
    width: 80%;
}
body{
    padding-bottom: 5vw;
    position: relative;
} 
footer{
font-family: 'Futura W04',sans-serif;
background-color: #4aa4fd;
height: 3vw;
color: white;
clear: both;
margin-top: 4%;
width: 100%;
bottom: 0;
left: 0;
text-align: center;
font-size: 1vw;
position: absolute;
}

.footer3{
    text-align: center;
    width: 100%;
    color:white;
    padding-top: 1vw;
}
.footer3text1{
    width: 100%;
}
table {
    border-collapse: collapse;
    width: 75%;
    margin-left: 12.5%;
}
th{
    background-color: #31d8fc;
    color: white;
    padding: 0.3vw;
}
th, td {
    text-align: left;
}
.td_special1{
    background-color: white;
}
.td_special0{
    background-color: #f2f2f2;
}
tr:nth-child(even){background-color: #f2f2f2;}


input[type=text], [type=password], [type=number], select {
/*    width: 40%;*/
    margin: 0.3vw 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0.2vw;
    box-sizing: border-box;
/*    margin-left: 30%;*/
    background-color: #F1FFFF;
}
input[type=submit] {
    width: 10%;
    background-color: #CDCDCD;
    color: white;
    padding: 0.4vw 0.4vw;
    margin: 0.6vw 0;
    border: none;
    border-radius: 0.2vw;
    cursor: pointer;
    margin-left: 45%;
    margin-top: 1%;
}
.predmet{
            text-align: center;
            font-size: 170%;
            margin-top: 8%;
        }
